<?xml version="1.0" encoding="utf-8" ?>
<!-- created by ingo karstein (ikarstein >AT< hotmail.com) -->
<configuration>
    <appSettings/>
    <connectionStrings>
       
<add name="aspnetdb" connectionString="data source=localhost;initial catalog=AccountManager;persist security info=True;user id=AccountManager;password=password123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <membership defaultProvider="MembershipProvider">
            <providers>
                <clear/>
                <add name="MembershipProvider"
                     connectionStringName="aspnetdb"
                     passwordAttemptWindow="10"
                     enablePasswordRetrieval="false"
                     enablePasswordReset="true"
                     applicationName="/"
                     passwordFormat="Hashed"
                     minRequiredNonalphanumericCharacters="0"
                     passwordStrengthRegularExpression=""
                     requiresQuestionAndAnswer="false"
                     requiresUniqueEmail="false"
                     minRequiredPasswordLength="3"
                     type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
        </membership>
        <roleManager enabled="true"
                     defaultProvider="RoleManager" >
            <providers>
                <clear/>
                <add name="RoleManager"
                     type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, publicKeyToken=b03f5f7f11d50a3a"
                     connectionStringName="aspnetdb" applicationName="/"/>
            </providers>
        </roleManager>
    </system.web>
</configuration>